.search-bar {
    width: 300px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-family: $font-2;
    font-size: 16px;
    margin: 30px 0px 30px 0px;
}

.meals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 180px;
}
.meal-card {
    flex: 1 0 20%;
    min-width: 180px;
    max-width: 280px;
    border: 2px solid $color-1;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: $color-1;
        transform: scale(1.03);
        color: #fff;
    }
}

.img-meal {
    width: 90%;
    border-radius: 10px;
}

.h-meal {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-origin {
    margin-top: 30px;
    margin-bottom: 15px;
}

.p-instructions {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    margin: 10px 0px 10px 0px;
}

.meals-category {
    font-weight: 800;
    margin-bottom: 25px;
}
