.navigation {
    height: 60px;
    background: $color-1;
    font-family: $font-2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    width: 110px;
}
li:hover {
    font-size: 20px;
    font-weight: 800;
}

.liste {
    display: flex;
    list-style-type: none;
    width: 100%;
    background: $color-1;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    position: relative; // car btn positionné en absolu
}

.items {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: none;
}

@media screen and (max-width: 700px) {
    .navigation {
        flex-direction: column;
        align-items: center;
        a {
            width: 100%;
            text-align: center;
        }
        li {
            width: 100%;
        }
    }

    .liste {
        flex-direction: column;
        justify-content: center;
        height: 300px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .items {
        width: 100%;
        height: 50px;
        margin: 0px;
        padding: 0px;
    }
    .btn {
        font-family: $font-2;
        font-size: 16px;
        font-weight: 800;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 5px;
        background-color: #fff;
        border: none;
        color: $color-1;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
    }
}
