@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
$font-1: "Oleo Script", "cursive";
$font-2: "Lato", "cursive";

$color-1: rgb(136, 49, 49);
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}

p {
  font-family: $font-2;
}

h1 {
  font-family: $font-1;
  font-size: 32px;
  margin-top: 30px;
}

h2 {
  font-family: $font-1;
  font-size: 20px;
}
