@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
$font-1: "Oleo Script", "cursive";
$font-2: "Lato", "cursive";

$color-1: #5a0202;
$color-2: #ff7b00;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-2;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  position: relative;
}

header,
footer {
  flex-shrink: 0;
}

li {
  list-style-type: none;
}

p {
  font-family: $font-2;
}

h1 {
  font-family: $font-1;
  font-size: 32px;
  margin-top: 30px;
}

h2 {
  font-family: $font-1;
  font-size: 22px;
}

h4 {
  font-family: $font-2;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 10px;
}
